header{
    display: flex;
    flex-direction: column;
    background-color: #1557b7;
    color: #ffffff;
    width: 100%;
    height: 100px;
}
ul{
    background-color: #29a85b;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
button{
    background-color: #228a4b;
}
section{
    padding: 5%;
    background-color: #89731b;
}
footer{
    background-color: #f8f11f;
    width: 100%;
    height: 100px;

}